@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================
   Custom Scrollbar
   Chrome, Edge, Safari, Firefox
   ============================ */

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* horizontal scrollbar bhi */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

/* Dark mode */
.dark ::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

.dark * {
  scrollbar-color: #555 #2a2a2a;
}